<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js" type="text/javascript"></script>
</head>
<body>
<div class="main-contianer">
    {{>header}}
    <img src="img/about.jpg" width="600px" height="500px">
</div>
{{>footer}}
</body>
</html>