<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/weather.png">
    <title>404</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="main-contianer">
    {{>header}}
    error message: {{description}}
</div>
{{>footer}}

</body>
</html>