<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/weather.png">
    <title>Weather</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js" type="text/javascript"></script>
</head>
<body>
<div class="main-contianer">
    {{>header}}
</div>
{{>footer}}

</body>
</html>